body {
  text-indent: 3rem;
  background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
}
h1, h3 {
  text-align: center;
}
.volleyball {
  color: whitesmoke;
  background-color: #53110f;
}
.aboutMe {
  font-style: italic;
}